OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT="true"
AZURE_TRACING_GEN_AI_CONTENT_RECORDING_ENABLED="true"

# Microsoft Foundry credentials
FOUNDRY_ENDPOINT="https://aif-bc73tib2ncdtu.services.ai.azure.com/api/projects/proj-bc73tib2ncdtu"
FOUNDRY_API_VERSION="2025-01-01-preview"

# GPT credentials
gpt_endpoint="https://aif-bc73tib2ncdtu.services.ai.azure.com"
gpt_deployment="gpt-5.4-mini"
gpt_api_version="2025-01-01-preview"

# Text-embedding-3-large credentials
embedding_endpoint="https://aif-bc73tib2ncdtu.services.ai.azure.com"
embedding_deployment="text-embedding-3-large"
embedding_api_version="2025-01-01-preview"

# Phi-4 credentials
phi_4_endpoint="https://aif-bc73tib2ncdtu.services.ai.azure.com/models"
phi_4_deployment="Phi-4"
phi_4_api_version="2024-05-01-preview"

# Storage account credentials
storage_account_name="bc73tib2ncdtusa"
storage_container_name="zava"

# Cosmos DB credentials
COSMOS_ENDPOINT="https://bc73tib2ncdtu-cosmosdb.documents.azure.com:443/"
DATABASE_NAME="zava"
CONTAINER_NAME="product_catalog"

# Application Insights credentials
APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=fbd0c3f6-be37-47a2-a3f5-77cfa6876a14;IngestionEndpoint=https://eastus2-3.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/;ApplicationId=b9a72ea2-ee2e-4963-8752-3b0fb3fbace6"

# Agent IDs
customer_loyalty="customer-loyalty"
inventory_agent="inventory-agent"
interior_designer="interior-designer"
cora="cora"
cart_manager="cart-manager"
handoff_service="handoff-service"
